* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f5f5f5;
	margin: 0 auto;
    padding: 0 3px;
}

li {
    list-style-type: none;
}


#rst-page-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(1.5rem *.5);
    padding-left: calc(0 *.5);
    margin-right: auto;
    margin-left: auto;
}


#rst-head {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: relative;
    z-index: 100;
}

#rst-head>a {
    width: 50%;
    max-width: 215px;
    margin: -10px 0 -4px;
    display: block;
    z-index: 2;
}

img.logo {
    min-width: 100px;
	max-width: 215px; 
    width: 100%;
	height: 57px;
}


#rst-h-help {
    width:500px !important;
}

#rst-h-help>h1 {
    font-size: 1rem;
    color: #777;
    margin-bottom: 0;
}


#rst-h-help>p {
    font-size: .875rem;
    margin-top: .2rem;
    color: #777;
    opacity: .8;
    font-style: italic;
}

#rst-head .btns {
    position: relative;
    z-index: 2;
    background-color: #fff;
    white-space: nowrap;
    padding: .3rem 0 .3rem .3rem;
}

#rst-head .btns .btn-bi {
    position: relative;
    line-height: 2;
    padding-left: 3rem!important;
}


#rst-head a {
	padding-left: 0;
}


.btn-white {
    background-color: #fff;
    border-color: #ddd!important;
    color: #111;
}

.fs-1 {
    font-size: .875rem!important;
}

.fs-2 { font-size: 2rem; }

.fs-4 {
    font-size: 1.063rem!important;
}
.fs-5 { font-size: 1.25rem; }


.mb-3 {
    margin-bottom: 1rem!important;
}

.mx-0 {
    margin-right: 0!important;
    margin-left: 0!important;
}


.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

#rst-head .btns .btn-bi .ri {
    position: absolute;
    top: 50%;
    left: .75rem;
    transform: translate(0,-50%);
}

.ri-24 {
    height: 24px;
    width: 24px;
}

.ri:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ri-person:before {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 16 16"%3e%3cpath d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/%3e%3c/svg%3e');
}

.ri-plus:before {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" fill="%23f00" viewBox="0 0 16 16"%3e%3cpath d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/%3e%3cpath d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/%3e%3c/svg%3e');
}

#rst-head .btn-outline-danger:hover, #rst-head .btn-outline-danger:focus {
    background-color: rgba(255,0,0,.04);
}

#rst-head .btn-outline-danger {
    color: red;
    border-color: red;
}

.btn-menu .icon-menu {
    display: inline-block;
    width: 30px;
    height: 36px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23111' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-position: 50% 6px;
    background-repeat: no-repeat;
    background-size: 100%;
}


/*Side bar left*/
#rst-page-section {
    display: flex;
    flex-direction: column;
    flex: 1
}

.z100 {
    position: relative;
    z-index: 100
}

#search-small>.b>.form-control {
    color: #111;
    background-color: #fff;
    border-color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    padding: .4377rem 2.25rem .4377rem .75rem;
    -moz-padding-start: calc(.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #111;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23bbb' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ddd;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    appearance: none;
}


a.text-red {
    text-decoration: underline;
}

a.text-red:hover {
    text-decoration: none;
}

.lh-1 {
    line-height: 1!important;
}

small, .small {
    font-size: .875em;
}

.me-2 {
    margin-right: .5rem!important;
}

.me-3 {
    margin-right: 1rem!important;
}


/*modal*/

.modal-content {
    margin-right: 2px;
    margin-left: 2px;
}

#sf-body-modal,
#modal-fb-like {
    margin: 0 auto;
}

.overflow-hidden {
    overflow: hidden!important;
}

.pe-2 {
    padding-right: .5rem!important;
}

.top-0 {
    top: 0!important;
}

.end-0 {
    right: 0!important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.ps-5 {
    padding-left: 3rem!important;
}

#rst-modal .btn-menu .icon-menu {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23111'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    background-size: 63%;
    background-position-y: 13px
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.modal-content {
    max-width: 400px;
    width: 100%;
}

.pe-3 {
    padding-right: 1rem!important;
}

.btn {
    line-height: 1.5;
    padding: .375rem .75rem;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 500;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
}

.sf-body-modal-click,
.close-like, 
.close-region {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/0.7em auto no-repeat;
    border: 0;
    border-radius: .375rem;
    opacity: .8;
}

.sf-body-modal-click,
.close-region {
    padding: .2em .2em;
    width: 0.6em;
    height: 0.6em;
}

.modal-header .close {
    padding: 0.5rem 0.5rem; 
    margin: -8px;
}

button.close:focus,
button.close:active {
    outline: none; 
    border: 1px solid rgba( 204, 229, 255, 1); 
    box-shadow: 0 0 0 0.2rem rgba(204, 229, 255, 1); 
}

.me-5 {
    margin-right: 3rem!important;
}

.form-check-input[type=checkbox] {
    border-radius: .25em;
}


.form-check-input {
    width: 1.313em;
    height: 1.313em;
    margin-top: .0935em;
    vertical-align: top;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #ddd;
    print-color-adjust: exact;
    appearance: none;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}


.sf-region-modal-modal-content {
   max-width: 410px;
   width: 100%;
   margin: 0 auto;
}

.form-check-input {
    position: static;
    margin-left: 0;
}



fieldset ul>li>label, #sf-body-modal ul>li>label {
    margin-bottom: 0;
}

#sf-body-modal .modal-content {
    max-width: 610px;
}

.sf-body-modal-div {
    border-right: 1px solid #f5f5f5;
}

.sf-body-modal-ul{
    flex-direction: column;
}

p.text-grey.p-1 {
    margin-bottom: 4px;
}

input:checked[type=checkbox]  {
    background-color: #666;
    border-color: #666;

}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.lh-sm {
    line-height: 1.25!important;
}

.form-switch .form-check-input {
    width: 3.438em;
    margin-left: -3.938em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.4' fill='%23fff'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 3.438em;
    transition: background-position .15s ease-in-out;

}

.form-switch .form-check-input:checked {
    background-position: right center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.4' fill='%23fff'/%3e%3c/svg%3e");
}

textarea.form-control {
    min-height: 136px;
    background-image: none;
    padding: 0;
    padding: .4377rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

input[type="tel"],
input[type="email"], 
input[type="password"], 
input[name="color"],
input[name="name"],
input[name="vin"]  {
     background-image: none;
     padding: .4377rem .75rem;
}

.ri-eyeno:before {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" fill="%23777" viewBox="0 0 16 16"%3e%3cpath d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/%3e%3cpath d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/%3e%3cpath d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/%3e%3c/svg%3e');
}

.lh-base {
    line-height: 1.5!important;
}


.contact-email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-email a {
    text-decoration: underline;
}

.form-invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + .8754rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .21885rem) center;
    background-size: calc(.75em + .4377rem) calc(.75em + .4377rem);
}




@media (min-width: 1400px) {
    .container-xxl, 
    .container-xl, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 992px) {
    #rst-h-help {
        max-height: 65px;
	    position: absolute;
	    left: 0;
	    z-index: 1;
	    overflow: hidden;
	    padding-left: 255px;
	    width: 500px;
       
	}

    .bl-left-w {
	    padding-left: 316px!important;
	}

    .bl-left-w .bl-left {
        width: 316px !important;
        margin-left: -316px;
        padding-right: 16px !important;
        float: left
    }

	.d-lg-block {
        display: block !important;
    }

    .d-lg-inline {
        display: inline !important;
    }


    .h-lg-100 {
        height: 100%
    }

    .pe-lg-0 {
        padding-right: 0!important;
    }

    .links-footer-left {
        max-width: 300px;
        width: 100%;
    }

    .ps-lg-1 {
        padding-left: .25rem!important;
    }

    .ps-lg-0 {
        padding-left: 0!important;
    }

    .mt-lg-3 {
        margin-top: 1rem!important;
    }

    .tech-support {
        max-width: 300px;
        width: 100%;
    }

}

@media (max-width: 992px) {
    #rst-head .btn-outline-danger {
        border: none;
    }

     #rst-head .btn-outline-danger:focus {
        border: none;
    }

    #rst-head .btns .btn-bi {
        padding-left: 2rem!important;
    }

}

@media (min-width: 768px) {
    #rst-head .btns:after {
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        width: 20px;
        background-color: #fff;
        background: linear-gradient(to left, #fff 40%, rgba(255, 255, 255, 0) 100%);
        z-index: 3;
    }
    .mx-md-2 {
        margin-right: .5rem !important;
        margin-left: .5rem !important;
    }
     .brb-md-2 {
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem
    }

    .mb-md-0 {
        margin-bottom: 0!important;
    }

    .pe-md-3 {
        padding-right: 1rem!important;
    }

    .mb-md-5 {
        margin-bottom: 3rem!important;
    }

    .mb-md-3 {
        margin-bottom: 1rem!important;
    }

    .ps-md-4 {
        padding-left: 1.5rem!important;
    }

    .ms-md-3 {
        margin-left: 1rem!important;
    }

    .br-md-2 {
        border-radius: .5rem!important;
    }

    .mt-md-0 {
        margin-top: 0!important;
    }

    .ps-md-2 {
        padding-left: .5rem!important;
    }

    .pe-md-5 {
        padding-right: 3rem!important;
    }

    .sticky-md-top {
        position: sticky;
        top: -1px;
        z-index: 99;
    }
}


@media (min-width: 576px) {
    .mx-sm-3 {
        margin-right: 1rem!important;
        margin-left: 1rem!important;
    }

    .d-sm-inline-block {
        display: inline-block!important;
    }

}


@media (max-width: 576px) {
      .modal-dialog {
        max-width: 100%;
        height: 100%;
        margin: 0;
      }
      .modal-content {
        border-radius: 0;
      }

}


@media (max-width: 400px) {

    .pe-md-5 {
        padding-right: 2rem!important;
    }
}